body {
	margin: 0;
	padding: 0;
}

h1 {
	color: red;
}

h2 {
	color: blue;
}


div.content {
	border: 1px dotted #999999;
	margin: 20px;
}

div.content p {
	color: green;
}

div.header {
	background: #cccccc;
	padding: 1.5em;
	color: white;
	font-size: 1.5em;
}

div.footer {
	background: #666666;
	padding: 1.5em;
	color: white;
	font-size: 1.5em;
}



