div.warning {
	background-image: url("warning.png");
	background-repeat: no-repeat;
	padding-left: 50px;
}

div#backgroundDiv {
	background-image: url("stars_background.png");
}

div#backgroundDiv_X {
	background-image: url("stars_background.png");
	background-repeat: repeat-x;
}