table { 
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
	border: 1px solid gray;
	text-align: center;
	padding: 3px;
}

.topHeader {
	background: green;
	color: white;
	font-size: large;
}

.leftHeader {
	background: lightgray;
	font-weight: normal;
}

.topRow {
	color: green;
	font-size: larger;
}