@CHARSET "UTF-8";

h1, h2, h3, p, a {
	font-family: sans-serif;
	clear: both;
}

p.date {
	color: #DDAA10;
	font-size: smaller;
}

ul#navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul#navbar li a {
	display: block;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
	color: #000000;
	background-color: #CCCCCC;
	border: 1px solid #999999;
	border-radius: 5px;
}

ul#navbar li a#active {
	color: #FFFFFF;
	background-color: #0E9CFF;
	border: 1px solid #0A68BB;

}

ul#navbar li a:hover {
	color: #FFFFFF;
	background-color: #0E9CFF;
	border: 1px solid #0A68BB;

}

article {
	padding: 1em;
	margin: 1em 0;
	border-radius: 5px;
}

article.post {
	border: 2px solid #DDAA10;
	background-color: #FFFECC;
}

article#reviews, article#news {
	border: 2px solid #AA0000;
	background-color: #FFAAAA;
}

footer {
	background: #0E9CFF;
	color: white;
	padding: 0.5em 2em;
	border-radius: 5px;
}

footer p {
	text-align: right;	
}

@media screen and (min-width: 400px) {
	
	ul#navbar li {
		float: left;
	}
}

@media screen and (min-width: 721px) {
	
	#wrapper {
		max-width: 1024px;
		margin: 0 auto;
	}
	
	section#main {
		float: left;
		width: 70%;
		margin-right: 2%;

	}
	
	aside {
		float: right;
		width: 28%;
	}
	
	footer {
		clear: both;
	}	
}