ul li {
	clear: both;
	list-style-type: none;
	padding: 5px;
}

ul {
	padding-left:0;
}

form {
	width: 40em;
	border: 1px solid #606060;
	border-radius: 10px;
	box-shadow: .2em .2em .5em #909090;
	background-color:#d0e9f6;
	padding: 1em;
	overflow: hidden;
}

label {
	display: block;
	float: left;
	width: 10em;
	text-align: right;
	margin-right: .5em;
	color: #04699d;
}

input.textinput {
	width: 25em;
	height: 1.50em;
	border: 1px solid #606060;
}

textarea {
	display: block;
	width: 25em;
	height: 5em;
	border: 1px solid #606060;
	margin-bottom: 1em;
	line-height: 1.25em;
	overflow: auto;
}

input.textinput, textarea {
	font-family: serif;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: block;
	width: 10em;
	float: left;
	margin-right: .5em;
	text-align: right;
	color: #04699d;
}

#os label, #skills label {
	color: #000000;
	display: inline;
	float: none;
	text-align: inherit;
	width: auto;
	font-weight: normal;
	background-color: inherit;
}

#os ul li {
	display: inline;
	margin-bottom: 0;
}

#skills ul {
	margin-left: 11em;
}

#skills ul li {
	margin-bottom: 0;
	clear: none;
}

input[type="submit"], input[type="reset"] {
	display: block;
	width: 10em;
	height: 2em;
	float: left;
	background: white;
	font-size: inherit;
	border: 1px solid #04699d;
	border-radius: 4px;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
	margin-left: 10.5em;
margin-right: 1em;
}
