#overflowingBox {
	border: 1px solid #999;
	width: 200px;
	height: 200px;
	overflow: scroll;
	
}

#marginPaddingBox, #marginPaddingBox2 {
	background-color: yellow;
}

.borderBox {
	
	background-color: green;
	width: 100px;
	height: 100px;
	margin: 2em;
	padding: 2em;
	color: white;
}

#marginPaddingBox {
	border: 1px solid;
	margin: 2em;
	padding: 1em;
}

#marginPaddingBox2 {
	border: 1px solid;
	padding-top: 4em;
	padding-right:3em;
	padding-bottom:2em;
	padding-left:1em;
}

#borderBox1 {
	border: 4px solid red;
}

#borderBox2 {
	border-top: 8px dashed blue;
	border-right: 6px dashed blue;
	border-bottom: 4px dashed blue;
	border-left: 2px dashed blue;
}