div.box {
	width: 100px;
	height: 100px;
	background-color: green;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	color: white;
}

h2 {
	clear: both;
}

#box1, #box2 {
	float: left;
}

#box3 {
	float: right;
}

#box4 {
	clear: both;
}

#textBox #catImage{
	float: left;

}

#textBox{

	overflow: auto;
	border: 1px solid gray;
	padding: 5px;
}

ul#navigationBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#navigationBar li {
	float: left;
}

ul#navigationBar li a {
	display: block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px;
	margin: 5px;
	color: white;
	background-color: lightslategray;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

div.navigation, div.content, div.footer {
	border: 1px solid gray;
	background: lightgray;
	padding: 5px;
	margin: 5px;
}

div.navigation {
	float: left;
	width: 300px;
}

div.content {
	float: right;
	width: 620px;
}

div.footer {
	clear: both;
}