body {
	
	font-family: Arial;
	background: url(money_bg.jpg) #eee;
}

div.outerFrame {
	max-width: 800px;
	min-width: 300px;
	border: 1px solid #ccc;
	background-color: white;
	margin: 1em auto;
	padding: 1em;	
	border-radius: 10px;
}

header {
	margin: 1em 0;
	overflow: auto;
}

header div.headerTitle {
	float: left;
	width: 50%;
}

header h1{
	margin: 0;
	padding: 0;
}

header div.headerCredit {
	float: right;
	width: 40%;
	text-align: right;
}

header div.headerCredit p {
	margin-top: 0;
	padding-top: 0;
}

div#msgDiv {
	clear: both;
	margin: 1em auto;
	font-size: 1.8em;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #eee;
	padding: .5em 1em;
}

div#msgDiv p#msgText {
	font-size: 1.3em;
}

div#msgDiv p.win {
	color: green;
}

div#msgDiv p.lost {
	color: red;
}

input[type="submit"] {
	background-color: yellowgreen;
	border-radius: 5px;
	font-size: 2em;
	display: inline-block;
	height: 2em;
}

input[type="text"] {
	font-size: 2em;
	display: inline-block;
	height: 2em;
	
}

table.dataTable {
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #ccc;
	padding: .5em;
	text-align: left;
}

table.dataTable th {
	background-color: #eee;
}