p.serif {
	font-family: serif;
}

p.sans-serif {
	font-family: sans-serif;
}

p.monospace {
	font-family: monospace;
}

p.cursive {
	font-family: cursive;
}

p.fantasy {
	font-family: fantasy;
}

p.lucida_grande {
	font-family: "Lucida Grande";
}

p.font80 {
	font-size: 80%;
}

p.font120 {
	font-size: 120%;
}

p.font2em {
	font-size: 2em;
}

p.fontxxsmall {
	font-size: xx-small;
}

p.fontxxlarge {
	font-size: xx-large;
}

p.fontBold {
	font-weight: bold;
}
p.fontBolder {
	font-weight: bolder;
}

p.fontWeight100 {
	font-weight: 100;
}

p.fontWeight500 {
	font-weight: 500;
}

p.fontWeight900 {
	font-weight: 900;
}

span.blue {
	color: blue;
}

span.red {
	color: red;
}

span.green {
	color: green;
}

span.yellow {
	color: yellow;
}

span.color333 {
	color: #333333;
}

span.color999 {
	color: #999999;
}

span.colorCCC {
	color: #CCCCCC;
}

p.lowercase {
	text-transform: lowercase;
}

p.uppdercase {
	text-transform: uppercase;
}

p.capitalize {
	text-transform: capitalize;
}

p.spacedLetters {
	letter-spacing: 20px;
}

p.spacedWords {
	word-spacing: 50px;
}