h1.mainHeader {
	color: green;	
}

p#textById {
	color: green; 	
}

p.textByClass {
	color: blue; 	
}

div.section {
	margin: 20px 0;
	padding: 5px;
}

div.section1 {
	border: 1px solid red;
}

div.section2 {
	border: 1px solid green;
}

div.section3 {
	border: 1px solid blue;
}

li.importantListItem {
	color: red;
}

div.section2 ul#list2 li.importantListItem {
	
	color: blue;
	text-transform: uppercase;
}