span.price {
	font-size: x-large;
	color: red;
	font-weight: bold;
}

span.priceDescription {
	font-size: small;
	color: grey;
}

p.lineHeight80 {
	line-height: 80%;
}

p.lineHeight2em {
	line-height: 2em;
}

p.alignLeft {
	text-align: left;
}

p.alignRight {
	text-align: right;
}

p.alignCenter {
	text-align: center;
}

p.alignJustify {
	text-align: justify;
}