@CHARSET "UTF-8";

body {
	font-family: "sans-serif";
	background: #FAFAFA;
}

input {
	font-family: "sans-serif";
	border: 1px solid #999;
	border-radius: 2px;
	padding: 2px;
	
}

header {
	color: white;
	background: #A55;
	padding: 10px 20px;	
	float: none;
}

header p#title {
	font-size: larger;

}

header p#date {
	position: absolute;
	top: 20px;
	right: 20px;
}

footer {
	display: block;
	border: 3px solid #A55;
	clear: both;
	background: white;
	padding: 10px 20px;
}

p.warning {
	color: red;
}

header h1 a {
	color: white;
	text-decoration: none;
}

header h1 a:HOVER {
	text-decoration: underline;
}

a.button, input#submit {	
	display: inline-block;
	background: #DDD;
	color: black;
	padding: 3px;
	margin: 2px;
	text-decoration: none;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
	clear: both;
	font-size: 1em;
}

a.button:HOVER, input#submit:HOVER {
	background: #EEE;
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

nav {
	clear:both;
	margin: 5px 20px;
}

table {
	border-collapse: collapse;
	margin: 5px 0px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

th, td {
	border: 1px solid #999;
	padding: 5px;
	background-color: white;	
}
th {
	background-color: #CCD;	
}

table.info th {
	text-align: right;
}

div.table {
	float: left;
	margin: 20px;
}

div.error img{
	float: left;
	margin: 0em 2em;
}

div.error {
	padding: 1em;
}