/* Containers (body, header, footer and aside) */
body {
	background-color: #F6F6F6;
	background-image: url("../images/forum/bg.png");
	font-family: sans-serif;
	font-size: smaller;
	margin: 0px;
}

header,footer {
	background-color: #5A3980;
	padding: 5px 20px;
	border: 1px solid #999;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	color: #E1E1E1;
	clear: both;
}

header {
	margin: 0px 0px 5px 0px;
}

footer {
	background-image: url("../images/forum/corner.gif");
	background-repeat: no-repeat;
	background-position: top right;
}

header a {
	font-weight: normal;
	color: #E1E1E1;
}

header a#login {
	float: right;
}

aside {
	background-color: #5A8039;
	padding: 5px 15px;
	color: #E1E1E1;
	margin: 5px 0px;
	border: 1px solid #999;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

/* End containers */

/* Links */
a {
	color: #5A8039;
	font-weight: bold;
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
}

/* end links */

/* Notifications */
div#edited {
	font-style: italic;
	font-size: smaller;
	color: #777;
}

div.warning {
	color: #FF0000;
}

/* End notifications */

/* Tables */
table {
	border-collapse: collapse;
	border: 1px solid #999;
	margin: 5px 0px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

th,td {
	padding: 5px;
	background-color: white;
	vertical-align: top;
}

th {
	background-color: #D9D9D9;
	text-align: left;
}

td {
	border: 1px solid #999;
	background-color: #FFFFFF;
}

table#makePost th {
	border: 1px solid #999;
}

table#makePost td {
	border: none;
}

table#makePost td.title {
	width: 5em;
	text-align: right;
}

#listThreads,#readThread,#makePost {
	width: 100%
}

table#readThread h4 {
	margin: 0px;
	display: inline;
}

/* End tables */

/* Forms */
form#userform td {
	border: none;
	background-color: #E1E1E1;
	vertical-align: baseline;
	text-align: right;
}

input,textarea {
	border: 1px solid #999;
	background-color: #F8F8F8;
}

input.button {
	background-color: #D9D9D9;
}

input.button:HOVER {
	border: 1px solid #BBB;
	background: #E1E1E1;
}

textarea {
	width: 95%;
	height: 300px;
	font-family: sans-serif;
}

input#newTitle {
	width: 95%;
}

form.delForm {
	display: inline;
}

/* End forms */

/* For tablets */
@media screen and (min-width: 481px) {
	table#listThreads th.topic {
		min-width: 10em;
	}
	table#listThreads th.posts {
		width: 3em;
	}
	table#listThreads th.edited {
		width: 11em;
	}
	th.author {
		width: 7em;
	}
	body {
		margin: 5px;
	}
	div.date {
		display: inline;
		float: right;
	}
}
/* End tablets */

/* For computers */
@media screen and (min-width: 721px) {
	div.wrapper {
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
	#content {
		float: left;
		width: 80%;
		height: 100%;
	}
	aside {
		float: right;
		width: 15%;
		height: 100%;
	}
}

/* End desktops */